<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <div class='background-image'>
        <div class='boxed'>
            <div class='text'><%- answerText %></div>
        </div>
    </div>
    <!-- <div class="form">
        <form>
            <label for="name">First name:</label><br>
            <input type="text" id="fname" name="fname" value="John"><br>
            <input type="submit" value="Submit">
        </form> 
    </div> -->
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>




