body, html {
  height: 100%;
  margin: 0;
}

.background-image {
  background: fixed center;
  background-image: url('../images/Paris.jpg');
  /* opacity: 0.5; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxed {
  margin: auto;
  width: 650px;
  height: 450px;
  overflow: scroll;
  padding: 50px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;
  position: relative; 
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.4),
  10px 10px 10px rgba(0, 0, 150, 0.4);
}


.text {
	animation: fadeIn 3s;
  font-size: 25px;
  color: black;

}

/* a, a:visited, a:hover, a:active {
  color: inherit;
} */

a:visited { text-decoration: none; }

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}